# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

# https://pnpm.io/next/npmrc#auto-install-peers
auto-install-peers=true

# Hoisting
public-hoist-pattern[]=@playwright/test
